<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<welcome-file-list>
		<welcome-file>light.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.wpattern.arduino.web.Initializer</listener-class>
	</listener>

	<context-param>
		<param-name>config.port</param-name>
		<param-value>COM9</param-value>
	</context-param>
	
	<context-param>
		<param-name>config.serial.read.interval</param-name>
		<param-value>200</param-value>
	</context-param>
</web-app>
